.wrapper
  = render "header"
  .order
    %h1.order__order
      新規発注
    .order__menu
      = form_for [@order] do |f|
        .input-box
          %p現場名
          = f.text_field :site_name, class: 'input-box__text', placeholder: '現場名を入力してください'
          %p納入場所
          = f.text_field :delively_place, class: 'input-box__text', placeholder: '納入先を入力してください'
          %p荷受
          = f.text_field :consignee, class: 'input-box__text', placeholder: 'お荷受の方'
          %p電話番号
          = f.number_field :consignee, class: 'input-box__text', placeholder: '例:090-1234-5678'
          %p注文番号
          = f.text_field :order_number, class: 'input-box__text'
          %p品番
          = f.text_field :part_number, class: 'input-box__text'
          %p希望納期
          = f.text_field :desired_date, class: 'input-box__text datepicker'
          

        = f.submit 'Send', class: 'submit-btn'

        -# %input#datepicker{:type => "text"}/

     

    