.wrapper
  = render "header"
  .allcontent
    .allcontent__box
      %h1.menu-title
        新規発注
      .order__menu
        = form_for [@order] do |f|
          .input-box
            .input-box__name
            %i.fas.fa-map-marker-alt
            %label.label現場名
            = f.text_field :site_name, class: 'input-box__text', placeholder: ' 現場名を入力してください',type:"text"
          .input-box
            .input-box__name
            %i.fas.fa-truck
            %label.label納入場所
            = f.text_field :delively_place, class: 'input-box__text', placeholder: ' 納入先を入力してください',type:"text"
          .input-box
            .input-box__name
            %i.fas.fa-people-carry
            %label.label荷受
            = f.text_field :consignee, class: 'input-box__text', placeholder: ' お荷受の方'
          .input-box
            .input-box__name
            %i.fas.fa-mobile-alt
            %label.label電話番号
            = f.text_field :tel, class: 'input-box__text', placeholder: ' 例:090-1234-5678',autocomplete:"off"
            .input-box
              .input-box__name
              %i.far.fa-bell
              %label.label注文番号
              = f.text_field :order_number, class: 'input-box__text', placeholder: ' 必要な場合はご記入ください',autocomplete:"off"
            .input-box
              .input-box__name
              %i.far.fa-calendar-alt
              %label.label希望納期
              = f.text_field :desired_date, class: 'input-box__text datepicker', placeholder: ' 例:2019-05-04',autocomplete:"off"
            .input-box
              .input-box__name
              %i.fas.fa-shopping-cart
              %label.label品番（発注内容）
              = f.text_area :part_number, class: 'input-box__text input-box__big', placeholder: ' 例:RUF-A2450SAWX 13A',autocomplete:"off"
            
          .submit-area
            = f.submit '発注', class: 'submit-btn'

      .root-path
        = link_to root_path do
          .fas.fa-undo-alt
          %p HOME

     

    